{% extends 'base.html.twig' %}

{% block title %}Nos catégories de produit{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Voici nos Categories produits ! </h1>
        <div class="row">
            {% for type in types %}
                <div>
                    <a href="{{ path('type_view', {'id': type.id}) }}" class="list-group-item list-group-item-action">
                        {{ type.name }}
                    </a>
                </div>
            {% endfor %}

    </div>
    </div>
{% endblock %}