{% extends 'base.html.twig' %}

{% block title %}Nos réduction{% endblock %}

{% block body %}
    <div >
        <h1 class="my-5">Nos régles des réduction ! </h1>
        <div >
            {% for discount in discounts %}
                <dl>
                    <li class="col-md-8">{{ discount.ruleExpression }}</li>

                </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}
